version: '3.8'

services:
  uplaysync:
    build: .
    container_name: uplaysync
    ports:
      - "5000:5000"
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./download_history.json:/app/download_history.json
      - ./id_map.json:/app/id_map.json
      # Host download folder <-> Container mapping
      # Mapping to the exact same path so config.yaml paths work
      - /opt/youtube_dl/downloads:/opt/youtube_dl/downloads
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Asia/Seoul

    extra_hosts:
      - "host.docker.internal:host-gateway" # Standard way to reach host
    restart: unless-stopped
    # networks:
    #   - metube-net

# networks:
#   metube-net:
#     external: true

